# Keypair variables
key_name             = 
pub_key_file_content = 

# Module variables
single_instance_type = 

aws_core_vpc_cidr       = 
aws_core_subnet_cidr    = 
aws_core_az             = 
additional_public_cidrs = 

# General variables
aws_region      = 
project_tag     = 
owner_tag       = 
environment_tag = 
